.navbar {
    width: 100%;
    height: 180px;
    position: relative;
    background-color: rgb(84, 171, 234);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-title {
    font-size: 24px;
    margin: 0;
}

.welcome-link {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 10px 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
}

.nav-link-contact {
    text-decoration: none;
    color: white;
    border: 1.5px solid white;
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link-contact:hover {
    border:2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.active-link {
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}