.navbar {
    width: 100%;
    height: 180px;
    position: relative;
    background-color:rgb(134, 187, 224);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-title {
    font-size: 55px;
    font-family: Thasadith, sans-serif;
    margin: 0;
    font-weight: 700;
    color: white;
}

.welcome-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 5px;
    font-family: Thasadith, sans-serif;
}
.welcome-link:hover {
    color: black;
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 10px 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: Thasadith, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 5px;
}

.nav-link:hover {
    color:black;
}
.nav-link-contact {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: Thasadith, sans-serif;
    border: 1.5px solid white;
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link-contact:hover {
    border:2px solid black;
    background-color: white;
    color: black;
}

.active-link {
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}