.danielle-bio-container {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.people-headshots {
    width: 260px;
    height: 300px;
    padding: 30px;
    border-radius: 50%;

}

.link-container {
    text-decoration: none;
    color: inherit;
    display: block;
}