.welcome-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 120px; /* Adjust this value to determnine gap between welcome image and letter text. */
}

.welcome-image {
    grid-column: 1;
    padding: 60px;
}

img {
    max-width:100%;
    max-height: 65%;
    width: 100%;
}

.letter-container {
    grid-column: 2;
    padding: 40px;
    max-width: 40%;
}
