.welcome-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns: First column takes the size of the image, second column takes the rest of the available width */
    gap: 20px; /* Adjust gap as needed */
}

.welcome-image {
    grid-column: 1; /* Place in the first column */
    padding: 60px;
}

img {
    max-width: 100%;
    width: 100%; /* Make the image fill its container */
}

.letter-container {
    grid-column: 2; /* Place in the second column */
    padding: 40px;
}

/* Add more CSS styles as needed */
